<h3 class="backgroundgraphic  graphicheadline ">Bem-vindo ao <span class="u-text-bold u-text-light1">Badgr!</span></h3>
<div class="callouts  l-callouts ">
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBadge" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Conte sua história com <span>Badges Digitais</span></h4>
			<p class="callouts-x-graf">Badges são suas conquistas, mostrando quando e como você os conquistou. Eles são feitos para serem compartilhados!</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBackpack" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Armazene suas badges digitais em sua <span>Mochila</span></h4>
			<p class="callouts-x-graf">Organize, exiba e gerencie suas badges.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageCollections" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Organize suas badges em <span>Coleções</span></h4>
			<p class="callouts-x-graf">Compartilhe suas coleções com pessoas específicas.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageIssuer" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Reconheça habilidades como <span>Emissor</span></h4>
			<p class="callouts-x-graf">Indivíduos ou organizações podem distribuir badges. Você também pode ser um emissor!</p>
		</div>
	</section>
	<div class="callouts-x-callout">
		<div class="callouts-x-buttons">
			<button routerLink="/recipient/badges" class="callouts-x-button button">Começar</button>
		</div>
	</div>
</div>