<dialog aria-labelledby="shareBadgeDialog"
				aria-describedby="dialog1Desc"
				class="dialog dialog-is-active l-dialog"
				role="dialog"
>

	<div class="l-dialog o-container">
		<div class="dialog dialog-small dialog-clean dialog-is-active">
			<div class="dialog-x-box">
				<div class="backgroundgraphic backgroundgraphic-large">
					<div class="l-flex l-flex-justifyend u-responsivepadding-xaxis u-responsivepadding-yaxis">
						<button (click)="closeDialog()" class="buttonicon buttonicon-linklight">
							<svg icon="icon_close"></svg>
							<span class="visuallyhidden">Fechar</span>
						</button>
					</div>
					<div class="u-padding-bottom6x">
						<div class="progresstracker ">
							<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-complete">
								<span class="progresstrackeritem-x-status">
									<span>
										Concluído
										<svg icon="icon_complete"></svg>
									</span>
								</span>
								<div class="progresstrackeritem-x-text">
									<h3 class="progresstrackeritem-x-texttitle">
										Passo 1
									</h3>
									<p>Baixe seu arquivo ZIP</p>
								</div>
							</div>
							<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-complete">
								<span class="progresstrackeritem-x-status">
									<span>
										Em andamento
										<svg icon="icon_complete"></svg>
									</span>
								</span>
								<div class="progresstrackeritem-x-text">
									<h3 class="progresstrackeritem-x-texttitle">
										Passo 2
									</h3>
									<p>Acesse o Badgr</p>
								</div>
							</div>
							<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-inprogress">
								<span class="progresstrackeritem-x-status">
									<span>
										Não iniciado
										<svg icon="icon_more"></svg>
									</span>
								</span>
								<div class="progresstrackeritem-x-text">
									<h3 class="progresstrackeritem-x-texttitle">
										Passo 3
									</h3>
									<p>Envie seus badges</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="u-responsivepadding-xaxis u-responsivepadding-yaxis">

					<h1 class="u-text-h3 u-margin-bottom2x"><span class="u-text-bold">Passo 3:</span> Envie seus badges</h1>
					<p class="u-text u-margin-bottom6x">Seus badges estão no arquivo zip da Mozilla.</p>

					<ng-template [ngIf]="noManifestError">
						<div class="l-flex l-flex-1x">
							<svg class="icon icon-error" icon="icon_error"></svg>
							<p class="u-text-body-bold u-text-dark1">Ops!</p>
						</div>
						<p class="u-text-small u-text-error u-margin-yaxis1x">Este não é o arquivo da Mozilla. Por favor, tente novamente.</p>
					</ng-template>

					<ng-template [ngIf]="serverErrors.length" >
						<div class="l-flex l-flex-1x">
							<svg class="icon icon-error" icon="icon_error"></svg>
							<p class="u-text-body-bold u-text-dark1">Ops!</p>
						</div>
						<p *ngFor="let serverError of serverErrors" class="u-text-small u-text-error u-margin-yaxis1x">
							{{serverError.error}}
						</p>
					</ng-template>

					<form
						[attr.formGroup]="csvForm"
						*ngIf="!inProgress"
					>
						<fieldset>
							<bg-formfield-file
								#zipFileField
								[name]="'ZipFile'"
								label="Arquivo ZIP"
								[validFileTypes]="'application/octet-stream, .zip'"
								[control]="csvForm.controls['zipFile']"
								[placeholderImage]="csvUploadIconUrl"
								(change)="fileChanged($event)"
								(drop)="fileChanged($event)"
							>
							</bg-formfield-file>
						</fieldset>
					</form>

					<!-- carregando -->
					<label class="dropzone" *ngIf="inProgress">
					<div class="l-flex l-flex2x l-flex-column l-flex-aligncenter u-width-xsmall u-padding-xaxis3x">
						<div class="loaderspin loaderspin-medium u-margin-bottom3x"></div>
						<p class="u-text-small u-text-center">
							Estamos enviando seu(s) badge(s).
							<br>Isso pode levar um minuto.
						</p>
					</div>
					</label>

					<!-- lista de sucessos -->
					<ng-template [ngIf]="successes">
						<div class="l-flex l-flex-1x u-margin-top2x">
							<svg class="icon icon-success" icon="icon_complete"></svg>
							<p class="u-text-body-bold u-text-dark1">Parabéns! {{successes}} badges de {{attempts}} enviados serão adicionados à sua Mochila</p>
						</div>
					</ng-template>

					<!-- lista de verificação de e-mails -->
					<ng-template [ngIf]="unverifiedEmails.length">
						<form (submit)="verifyEmails()">
						<p class="u-text u-margin-top1x">
							Também encontramos badges concedidos aos seguintes endereços de e-mail. Você precisará verificar esses endereços de e-mail antes de poder importar os badges.
						</p>
						<div class="u-background-light3 border borderradius u-padding-xaxis2x u-padding-top2x u-padding-bottom1x u-margin-top2x">
							<div class="l-flex l-flex-justifybetween u-margin-bottom1x" *ngFor="let email of unverifiedEmails; let i = index" >
								<label class="checkbox">
									<input
										[name]="'email-'+i"
										[value]="email.email"
										type="checkbox"
										[(ngModel)]="email.verify">
									<span class="checkbox-x-text">
										{{unverifiedEmails[i].email}}
									</span>
								</label>
								<div class="u-text-small u-margin-leftauto">  {{email.count | i18nPlural: plural['badge']}}</div>
							</div>
						</div>

						<button type="submit" class="button button-full u-margin-top3x">Enviar E-mails de Verificação</button>
						</form>
					</ng-template>

					<!-- sem badges + ganhe um badge -->
					<ng-template [ngIf]="!successes && !unverifiedEmails.length && serverErrors.length && !inProgress" >
						<div class="l-flex l-flex-1x">
							<svg class="icon icon-error" icon="icon_error"></svg>
							<p class="u-text-body-bold u-text-dark1">Nenhum Badge será adicionado.</p>
						</div>

						<p class="u-text u-margin-top1x">
							Apenas badges válidos podem ser adicionados à sua mochila. A boa notícia é que seus badges estão salvos no seu dispositivo e disponíveis para você a qualquer momento.
						</p>
						<div class="u-margin-top1x u-margin-bottom2x">
							<a href="//support.badgr.com/portal/kb/articles/mozilla-backpack-transition-to-badgr-faqs" class="u-text-link">O que aconteceu?</a>
						</div>

						<div class="l-flex l-flex-column l-flex-aligncenter u-background-light3 border borderradius u-padding-all2x">
							<h3 class="u-text-small-bold u-text-center">Mas Espere!</h3>
							<p class="u-text-small u-text-center u-margin-bottom2x">Você pode ganhar um badge em menos de 5 min. Prometemos.</p>

							<a href="//explore.badgr.io/" class="button button-small">Ganhar um Badge</a>
						</div>
					</ng-template>

				</div>
			</div>
		</div>
	</div>


</dialog>