<form-message></form-message>

<header class="topbar topbar-withimage">
	<div class="l-containerxaxis">
		<div class="topbar-x-wrap">
			<img class="topbar-x-image" [src]="integration?.image" alt="" width="70px" srcset="">
			<div class="topbar-x-heading">
				Canvas LTI
			</div>
			<div class="topbar-x-subheading">
				O Badgr se conecta ao Canvas para premiar automaticamente
				badges aos estudantes conforme completam seu trabalho.
			</div>
		</div>
	</div>
</header>

<div class="l-containerxaxis l-containeryaxis" *bgAwaitPromises="[ integrationPromise ]">

	<div class="u-width-form">
		<div class="forminput forminput-hasiconleft forminput-withbutton">
			<label class="forminput-x-label" for="forminput1">Sua Chave do Consumidor</label>
			<div class="forminput-x-inputs u-margin-top1x">
				<svg class="forminput-x-icon" icon="icon_link"></svg>
				<input type="text" id="forminput1" type="text" [value]="integration.consumerKey" readonly #consumerKey>
				<div class="forminput-x-button">
					<button class="button button-secondary button-informinput" type="button" [click-to-copy]="consumerKey">
						Copiar
					</button>
				</div>
			</div>
		</div>


		<div class="forminput forminput-hasiconleft forminput-withbutton u-margin-top2x">
			<label class="forminput-x-label" for="forminput2">Seu Segredo Compartilhado</label>
			<div class="forminput-x-inputs u-margin-top1x">
				<svg class="forminput-x-icon" icon="icon_link"></svg>
				<input type="text" id="forminput2" type="text" [value]="integration.sharedSecret" readonly #sharedSecret>
				<div class="forminput-x-button">
					<button class="button button-secondary button-informinput" type="button" [click-to-copy]="sharedSecret">
						Copiar
					</button>
				</div>
			</div>
		</div>

		<div class="forminput forminput-hasiconleft forminput-withbutton u-margin-top2x">
			<label class="forminput-x-label" for="forminput2">URL de Configuração</label>
			<div class="forminput-x-inputs u-margin-top1x">
				<svg class="forminput-x-icon" icon="icon_link"></svg>
				<input type="text" id="forminput2" type="text" [value]="integration.configUrl" readonly #configUrl>
				<div class="forminput-x-button">
					<button class="button button-secondary button-informinput" type="button" [click-to-copy]="configUrl">
						Copiar
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="contentlong u-margin-top3x u-width-paragraph">

		<h1>Integrando o Badgr ao Canvas</h1>
		<ol>
			<li>
				Certifique-se de que sua conta Badgr tem o
				<a [routerLink]="['/profile']">endereço de e-mail confirmado</a>
				com o qual você faz login no Canvas.
			</li>

			<li>
				Faça login no Canvas com suas credenciais de administrador. Vá para a conta Canvas desejada ou sub-conta, escolha
				Configurações no menu da esquerda e selecione a aba Apps
				<ol>
					<li [integration-image]="externalAppsBadgrImageUrl" caption="Apps Externos">
					</li>
				</ol>
			</li>
			<li>
				Selecione Badgr da lista (se conectado com o EduAppCenter) ou adicione uma nova integração personalizada
				<ol>
					<li>
						Copie os valores para seu Segredo Compartilhado LTI e Chave do Consumidor do Badgr para o diálogo
						<ol>
							<li [integration-image]="addAppImageUrl" caption="Adicionar App">
							</li>
						</ol>
					</li>
					<li>
						Se você não estiver usando o EduAppCenter, escolha o método Por URL e copie a Chave do Consumidor e Segredo Compartilhado no
						diálogo, junto com a URL de Configuração
						<ol>
							<li [integration-image]="addAppConfigurationTypeUrl" caption="Adicionar App por URL">
							</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>Envie o formulário e atualize a página</li>
			<li>
				Observe que uma nova aba Badges aparecerá na navegação do curso do lado esquerdo em todos os cursos da conta
			</li>
		</ol>

	</div>

</div>
