<main>
	<form-message></form-message>

	<div *ngIf="isEditing">
		<form [formGroup]="badgeCollectionForm.rawControl"
					(ngSubmit)="onSubmit(badgeCollectionForm.value)"
					novalidate
		>
			<fieldset>
				<bg-formfield-text
					[autofocus]="true"
					[control]="badgeCollectionForm.rawControlMap.collectionName"
					[errorMessage]="{required: 'Por favor, digite um nome para a coleção'}"
						[label]="'Nome'"
						[maxchar]="128"
						[sublabel]="' caracteres restantes'"
					></bg-formfield-text>
				<bg-formfield-text class="u-margin-top3x"
					[control]="badgeCollectionForm.rawControlMap.collectionDescription"
					[errorMessage]="{required: 'Por favor, digite uma descrição'}"
					[label]="'Descrição'"
					[maxchar]="255"
						[multiline]="true"
						[sublabel]="' caracteres restantes'"
				></bg-formfield-text>
				<div class="l-flex l-flex-2x u-margin-top2x">
					<a class="button button-secondary"
						 [disabled-when-requesting]="true"
						 (click)="cancelEditing()"
					>Cancelar</a>
					<button class="button" type="submit"
								[disabled]="!! savePromise"
								[loading-promises]="[ savePromise ]"
								loading-message="Salvando"
					>Salvar</button>
				</div>
			</fieldset>
		</form>
	</div>
</main>