<section class="l-containerxaxis l-containeryaxis">
	<div class="u-width-form">
		<div class="contentlong">
			<h1 class=title>Pré-visualização de Importação</h1>
			<p>
				{{transformedImportData.validRowsTransformed.size}} linhas prontas para serem
				importadas. {{transformedImportData.duplicateRecords.length}}
				linhas foram identificadas como duplicadas e serão ignoradas. Clique no botão CONCEDER BADGE abaixo para conceder este
				badge.
			</p>
		</div>

		<table class="datatable datatable-roundheaders datatable-headers">
			<thead class="datatable-x-head">
				<tr class="datatable-x-header">
					<th class="datatable-x-cell" scope="col">E-mail</th>
					<th class="datatable-x-cell" scope="col">Evidência</th>
					<th class="datatable-x-cell">
						<!-- cabeçalho para link de remoção-->
					</th>
				</tr>
			</thead>
			<tbody class="datatable-x-body">
				<tr class="datatable-x-row" *ngFor="let row of transformedImportData.validRowsTransformed">
					<td class="datatable-x-cell">
						{{row.email}}
					</td>
					<td class="datatable-x-cell">
						{{row.evidence}}
					</td>
					<td class="datatable-x-cell">
						<button class="u-text-link-small" (click)="removeValidRowsTransformed(row)">Remover
						</button>
					</td>
				</tr>
			<tbody>
		</table>
	</div>
	<div class="u-margin-yaxis2x">
		<h2 class="u-text-h3 u-margin-bottom1x">Preferência de Notificação</h2>

		<label class="checkbox checkbox-center" for="notify_earner">
			<input checked name="notify_earner" id="notify_earner" type="checkbox" [(ngModel)]="notifyEarner">
			<span class="checkbox-x-label u-margin-left1x"> Notificar destinatário por e-mail</span>
		</label>
	</div>


	<!-- BOTÕES -->
	<div class="l-flex l-flex-2x u-margin-top2x">
		<button class="button button-secondary" (click)="updateViewState('import')">Cancelar
		</button>

		<button class="button l-marginLeft-x2" [class.button-is-disabled]=buttonDisabledClass [attr.disabled]=buttonDisabledAttribute
		 (click)="dataConfirmed()">Conceder Badge
		</button>
	</div>
</section>