<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<div class="shadowcontainer u-animate-dropfade">
		<markdown-display
			[value]="theme.welcomeMessage || 'Welcome to Badgr'"
		></markdown-display>
		
		<!-- Apenas autenticação OAuth UFSC -->
		<ng-template [ngIf]="sessionService.enabledExternalAuthProviders.length">
			<h3 class="l-ruleheadline ruleheadline">
				Sign in With UFSC Account
			</h3>
			<div class="l-socialbuttons u-margin-top2x">
				<button
					*ngFor="let provider of sessionService.enabledExternalAuthProviders"
					(click)="sessionService.initiateUnauthenticatedExternalAuth(provider)"
					class="socialbutton"
					[style.backgroundColor]="provider.color">
					<div class="visuallyhidden">Access with {{provider.label}}</div>
					<img [src]="sanitize(provider.imgSrc)" alt="">
				</button>
			</div>
			<p class="u-text-body u-text-center u-margin-top2x">
				Please use your institutional UFSC account to access this system.
			</p>
		</ng-template>

		<!-- Mensagem caso não haja provedores OAuth configurados -->
		<ng-template [ngIf]="!sessionService.enabledExternalAuthProviders.length">
			<div class="l-flex l-flex-column l-flex-aligncenter u-margin-top2x">
				<h3 class="u-text-h3-bold u-text-center">
					Authentication Required
				</h3>
				<p class="u-text-body u-text-center u-margin-top1x">
					This system requires UFSC institutional authentication. Please contact the administrator.
				</p>
			</div>
		</ng-template>
	</div>
</div>
<form-message></form-message>