<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<form-message></form-message>
	<oauth-banner></oauth-banner>
	<div class="shadowcontainer">
		<h2 class="u-text-h3-bold">Verifique Seu Endereço de E-mail</h2>
		<p class="u-text-body u-margin-top1x">Bem-vindo ao {{ service }}!</p>
		<p class="u-text-body u-margin-top4x">Enviamos um e-mail de verificação para <strong class="u-text-bold">{{ email }}</strong>.
		</p>
		<p class="u-text-body u-margin-top2x">
			Siga o link fornecido para finalizar o processo de cadastro. Se você não recebê-lo em alguns minutos,
			verifique suas pastas de spam ou lixo eletrônico. Se ainda não conseguir localizar o e-mail, por favor
			<a class="u-text-link" [href]="helpEmailUrl">entre em contato conosco</a>.</p>
	</div>
</div>