<main>
	<form-message></form-message>
	<header class="l-containerxaxis topbar">
		<h3 class="topbar-x-heading">Criar Coleção</h3>
		<p class="topbar-x-subheading">
			Use coleções para organizar seus badges.
		</p>
	</header>

	<div class="l-containerxaxis u-margin-yaxis3x u-width-formsmall">
		<form [formGroup]="badgeCollectionForm.rawControl"
		      (ngSubmit)="onSubmit(badgeCollectionForm.value)"
		      novalidate
		>
			<fieldset
				aria-labelledby="heading-add-badge-collection"
				role="group"
			>
				<legend class="visuallyhidden"
				        id="heading-add-badge-collection"
				>Criar Coleção
				</legend>
				<bg-formfield-text
					[control]="badgeCollectionForm.rawControlMap.collectionName"
					[label]="'Nome da Coleção'"
					[maxchar]=128
					[errorMessage]="{ required:'Por favor, digite um nome para a coleção' }"
					[autofocus]="true"
					[sublabel]="' caracteres restantes'"
				></bg-formfield-text>

				<div class="u-margin-top2x">
					<bg-formfield-text
						[control]="badgeCollectionForm.rawControlMap.collectionDescription"
						[label]="'Descrição'"
						[errorMessage]="{ required: 'Por favor, digite uma descrição' }"
						[maxchar]=255
						[multiline]="true"
						[sublabel]="' caracteres restantes'"
					></bg-formfield-text>
				</div>

				<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x">
					<a [routerLink]="['/recipient/badge-collections']"
					   class="button button-secondary"
					   [disabled-when-requesting]="true"
					>Cancelar</a>

					<button type="submit"
					        class="button"
					        [disabled]="!! createCollectionPromise"
					        [loading-promises]="[ createCollectionPromise ]"
					        loading-message="Adicionando"
					>Criar Coleção</button>
				</div>
			</fieldset>
		</form>
	</div>
</main>
