<form-message></form-message>

<div class="topbar">
	<div class="l-containerxaxis">
		<div class="topbar-x-breadcrumbs">
			<bg-breadcrumbs [linkentries]="editIssuerCrumbs">
			</bg-breadcrumbs>
		</div>
		<div class="topbar-x-heading">
			Editar Emissor
		</div>
		<div class="topbar-x-subheading">
			Edite as informações associadas a este perfil de emissor.
		</div>

	</div>
</div>


<div class="l-containerxaxis l-containeryaxis">

	<form (ngSubmit)="onSubmit()"
	      class="u-width-formsmall u-margin-top3x"
	      novalidate
	>

		<fieldset>
			<bg-formfield-image #imageField
			                    label="Imagem (Opcional)"
			                    imageLoaderName="issuer"
			                    [placeholderImage]="issuerImagePlacholderUrl"
			                    [control]="issuerForm.rawControlMap.issuer_image"
			></bg-formfield-image>

			<bg-formfield-text class="u-margin-bottom2x"
			                   [control]="issuerForm.rawControlMap.issuer_name"
			                   [label]="'Nome'"
			                   [errorMessage]="{required:'Por favor, insira um nome de emissor'}"
			                   [autofocus]="true"
			></bg-formfield-text>

			<bg-formfield-text class="u-margin-bottom2x"
			                   [control]="issuerForm.rawControlMap.issuer_url"
			                   [label]="'URL do Website'"
			                   [errorMessage]="'Por favor, insira uma URL válida'"
			                   [urlField]="true"
			></bg-formfield-text>

			<bg-formfield-select class="u-margin-bottom2x"
			                     [control]="issuerForm.rawControlMap.issuer_email"
			                     [label]="'E-mail de Contato'"
			                     [placeholder]="'Por favor, selecione um e-mail verificado'"
			                     [options]="emailsOptions"
			                     [errorMessage]="{required:'Por favor, selecione um e-mail verificado'}"
			></bg-formfield-select>

			<bg-formfield-text class="u-margin-bottom2x"
			                   [control]="issuerForm.rawControlMap.issuer_description"
			                   [label]="'Descrição'"
			                   [errorMessage]="{ required: 'Por favor, insira uma descrição'}"
			                   [multiline]="true"
			></bg-formfield-text>

			<div class="l-stack l-stack-buttons">
				<button type="submit"
				        class="button"
				        [disabled]="!! editIssuerFinished"
				        [loading-promises]="[ editIssuerFinished ]"
				        loading-message="Salvando"
				>Salvar
				</button>
				<a [routerLink]="['/issuer/issuers', issuerSlug]"
				   class="button button-secondary"
				   [disabled-when-requesting]="true"
				>Cancelar</a>
			</div>

		</fieldset>
	</form>
</div>